CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
DATABASE_URL="file:./prisma/dev.db"
NEXT_PUBLIC_TRYON_URL=https://pravoobi.github.io/try-on
